@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: white;
    color: rgb(17 24 39);
    transition: color 300ms, background-color 300ms;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  html {
    color-scheme: light;
    scroll-behavior: smooth;
  }
}

@layer components {
  .container-main {
    margin-left: 16rem;
    margin-top: 4rem;
    min-height: 100vh;
    background-color: rgb(249 250 251);
    padding: 2rem;
  }

  .grid-auto {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  @media (min-width: 768px) {
    .grid-auto {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1024px) {
    .grid-auto {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}


